*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size:40px;
}
/* images */
img,  
iframe {
	max-width: 100%;
	height: auto;
	/* so that aspect ratio is kept even if height is declared in markup */
	border: 0;
	/* this stops a border if the image is inside a link */
}
/*fonts */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
/*colours, color-american spelling */
body {
	background-color: darkblue;
	color: white;
}
header {
	background-color: blueviolet;
	color: white;
}
p,h2,li,blockquote {
	font-size: 20px;
}

header, footer {
	text-align: center;
}
footer {
	color: white;
}

/* Typography */
h1 {
	font-size: 45px;
	color: white;
}
h2 {
	font-size: 30px;
	font-family: 'Cambria', serif;
	text-transform: uppercase;
	color: white;
}
h1,h2,p,li {
            padding-bottom: 1em; 
	}
     /* highlight content */      
.item {
       background-color: #ADD8E6 ;
       padding:1%;
       margin:1%; 
       margin-bottom: 20px; 
       margin-top: 20px; 
       border-radius:10px;
}
/* let's bring the width in a little */
/* check it out - we're responsive without even trying! */ 
main {
/* There's rarely any time you should set an explicit width. Always use max-width wherever possible. */
     max-width: 1000px;
/* Change the above to width: 1000px and see what happens with responsive */
     margin-left: auto;
     margin-right: auto; 
      }
item li {
          margin-left: 25px;
}
blockquote {
text-transform: uppercase; 
font-style: italic;
}

nav {
text-align: center;
}
nav li {
display: inline-block;
}
/* nav li a, or nav a ?? */ nav a {
background: violet;
color: white;
padding: 5px; 
text-decoration: none; 
border-radius: 5px;
}
nav a:hover {
background: lightblue;
}
body {
background-color: black;
background-image: url(BG.PNG); 
background-repeat: no-repeat; 
background-size: cover;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

